@{
ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <form enctype="multipart/form-data" method="post">
        <label asp-for="FileUpload.FormFile" ></label>
        <input asp-for="FileUpload.FormFile" type="file"/>
        <input asp-page-handler="Upload" class="btn" type="submit" value="Upload"/>
    </form>
</div>
